p {
	color: yellow;
}

* {
	font-family: Verdana, sans-serif;
	font-size: 12px;
}

h1 {
	font-size: 30px;
}

#heading-two {
	text-transform: uppercase;
}

.ordered-list {
	background-color: #9DC183;
}

li[class] {
	border-width: 1px;
	border-style: solid;
	border-color: #A7C7E7;
}

img + ul {
	list-style-type: none;
}

section img {
	height: 100px;
	width: 100px;
	border-radius: 50px;
}

h4 ~ p {
	text-align: center;
	color: black;
}

section > ul > li {
	letter-spacing: 5px;
}